@font-face {
  font-family: "Gasalt-Regular";
  src: url("../fonts/Gasalt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gasalt-Black";
  src: url("../fonts/Gasalt-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
